__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
out/
cache/
*.mp4
*.mp3
*.wav
*.ass
*.srt
!tests/fixtures/**/*.mp3
!tests/fixtures/**/*.mp4
